@model Category
<h> Create New Category </h>
<br>
<form method="post">
    <div class="form-group">
        <label asp-for="@Model.CategoryName">Category Name</label>
        <input asp-for="@Model.CategoryName" type="text" class="form-control" placeholder="Enter Category Name">
        <label asp-for="@Model.Description">Description</label>
        <input asp-for="@Model.Description" type="text" class="form-control" placeholder="Enter Description">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>